.onagre {
  --exit-unfocused: true;
  height: 500px;
  width: 800px;
  --font-family: "Liga SFMono Nerd Font";
  font-size: 15px;
  background: #062625;
  color: #d0b892;
  padding: 10px;

  .container {
    .search {
      --spacing: 1;
      background: #062625;
      border-radius: 0;
      color: #d0b892;
      padding: 4px;
      --height: fill-portion 1;
      .plugin-hint {
        font-size: 9px;
        padding: 4px;
        border-width: 2px;
        --align-x: center;
        --align-y: center;
        --width: fill-portion 2;
        --height: fill;
      }

      .input {
        --width: fill-portion 11;
      }

    }

    .rows {
      --height: fill-portion 6;
      .row-selected {
        color: #8cde94;
        --spacing: 3px;
      }
    }

    .scrollable {
      background: #0c3d40;
      width: 0;
      .scroller {
        width: 0;
        color: #0c3d40;
      }
    }
  }
}
