:root {
    --border-color: #008080;
    --border-color-active: #008080;

    --bg-color: #c0c0c0;
    --bg-color-hover: #c0c0c0;

    --border-radius: 12px;
    --border-size: 3px;
    --border-style: solid;
    --border-style-secondary: dashed;

    --text-color: rgba(245, 245, 245, 1);

    --window-padding: 2px;
}

.window {
}


.monitor {
}

.workspace {
}

.client {
}

.client-image {
}


.launcher {
}

.launcher-input {
}

.launcher-results {
}

.launcher-item {
}

.launcher-exec {
}

.launcher-key {
}

.launcher-plugins {
}

.launcher-plugin {
}
